header {
    background-color: #74a3e6;
    padding: 2px;
    text-align:center;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#inicio {
    color: #000000;
}
#cursos {
    color: #000000;
    margin: 70px;
}
#sobre-o-cubo {
    color: #000000;
}
#logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    border-radius: 10px;
    align-items: start;
    cursor: pointer;
    margin-top: 8px;
}
footer {
    background-color: #74a3e6;
    padding: 0px;
    text-align: center;
    color: #000000; 
    display: flex;   
}
.footer-content {
    display: flex;
    gap: 20px;
    padding-left: 0px;
}   
#body {
    margin: 0;
    padding: 0;
    width: 512px;
    background-color: #10edea;
}
p {
    color: #000000;
    text-align:start;
    margin: 20px;
    padding-left: 0px;
}
h1 {
    color: #0e0381;
    text-align: center;
}
p1 {
    color:#000000;
    text-align: center;  
}
p2 {
    color: #000000;
    padding:0px;
}
h2 {
    color:#0e0381;
    text-align: center;
}
h3 {
    color:#0e0381;
    text-align: center;
}
#passo1-01 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo1-01-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo1-02 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo1-02-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo1-03 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo1-03-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo1-04 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo1-04-p {
    margin-left: 170px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo2-01 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo2-01-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo2-02 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo2-02-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo2-finish {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo2-finish-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
.passo1-div {
    display: inline-block;
}
.passo2-div {
    display: inline-block;
}
#passo3-01 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo3-01-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo3-02 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo3-02-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
.passo3-div {
    display: inline-block;
}
#passo3-03 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo3-03-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#step-title {
    font-size: 30px;
}
.passo4-div {
    display: inline-block;
}
#passo4-01 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo4-01-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo4-02 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo4-02-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo4-03 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo4-03-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo4-finish {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo4-finish-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
.passo5-div {
    display: inline-block;
}
#passo5-l {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo5-linha {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo5-l-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo5-linha-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo5-finish {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo5-finish-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo5-ponto {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo5-ponto-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
.passo6-div {
    display: inline-block;
}
#passo6-01 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-01-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo6-02 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-02-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo6-03 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-03-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo6-04 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-04-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo6-05 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-05-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo6-06 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-06-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo6-07 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#passo6-07-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#finish-oll {
    border-radius: 20px;
    width: 200px; 
    height: 200px;
    margin-left: 200px;
    display: flex;
}
#finish-oll-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
.passo7-div {
    display: inline-block;
}
#passo7-01 {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin-left: 200px;
    display:flex
}
#passo7-01-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo7-02 {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin-left: 200px;
    display: flex;
}
#passo7-02-p {
    padding-left: 160px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo7-finished {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin-left: 250px;
    display: flex;
}
#passo7-fin-p {
    padding-left: 220px;
    color: #000000;
    text-align: start;
    width: 250px;
}
.passo8-div {
    display: inline-block;
}
#passo8-01 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 250px;
    display: flex;
}
#passo8-01-p {
    padding-left: 200px;
    color: #000000;
    text-align: start;
    width: 270px;
}
#passo8-02 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 250px;
    display: flex;
}
#passo8-02-p {
    padding-left: 220px;
    color: #000000;
    text-align: start;
    width: 250px;
}
#passo8-03 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 250px;
    display: flex;
}
#passo8-03-p {
    padding-left: 200px;  
    color: #000000; 
    text-align: start;
    width: 250px;
}
#fim-img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-left: 250px;
    display: flex;
}
#fim-p {
    padding-left: 210px;
    width: 250px;
    color: #000000;
    text-align: start;
}
