header {
    background-color: #74a3e6;
    padding: 2px;
    text-align:center;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    border-radius: 10px;
    align-items: start;
    cursor: pointer;
    margin-top: 8px;
}
#inicio {
    padding: 190px;
    color: #000000;
}
#cursos {
    padding:200px;
    color: #000000;
}
#sobre-o-cubo {
    padding:150px;
    color: #000000;
}  
h1 {    
    color: #0000ff;
    text-align: center;
}  
p {
    color:#000000;
    text-align: center;   
}
footer {
    background-color: #74a3e6;
    padding: 0px;
    text-align: center;
    color: #000000;    
}
.footer-content {
    display: flex;
    gap: 20px;
    margin-left: 550px;
}   
#body {
    background-color: #10edea;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to left, #aa00f9, #0099ff, #10edea);
}
#construction-page {
    width:300px;
    height:330px;
    display: block;
    margin: 0 auto;
}
.botaocurso {
    display: inline-block;
}
#botao-curso {
    width: 200px;
    height: 200px;
    display: flex;
    cursor: pointer;
}
