header {
    background-color: #74a3e6;
    padding: 2px;
    text-align:center;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    border-radius: 10px;
    align-items: start;
    cursor: pointer;
    margin-top: 8px;
}
#inicio {
    padding: 0px;
    color: #000000;
}
#cursos {
    padding: 200px;
    color: #000000;
}
#sobre-o-cubo {
    padding: 20px;
    color: #000000;
}    
h1 {    
    color: #0000ff;
    text-align: center;
}
h2 {
    color:rgba(0, 0, 255, 0.751);
    text-align: center;
}
h3 {
    color:#0000ff;
    text-align: center;
}
p {
    color:#000000;
    text-align: center;   
}
ul {
    color: #000000;
    text-align: start;
    margin: 20px;
    padding-left: 400px;
}
footer {
    background-color: #74a3e6;
    padding: 0px;
    text-align: center;
    color: #000000;    
}
.footer-content {
    display: flex;
    gap: 20px;
    padding-left: 550px;
}   
#body {
    background-color: #10edea;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #aa00f9, #0099ff, #10edea);
}
#world-record {
    width:330px;
    height:330px;
    display: block;
    margin: 0 auto;
}
