header {
    background-color: #74a3e6;
    padding: 2px;
    text-align:center;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.footer-content {
    display: flex;
    gap: 20px;
    padding-left: 550px;
}   
#inicio {
    padding: 190px;
    color: #000000;
}
#cursos {
    padding:200px;
    color: #000000;
}
#sobre-o-cubo {
    padding:150px;
    color: #000000;
}
#logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    border-radius: 10px;
    align-items: start;
    cursor: pointer;
    margin-top: 8px;
}
#body {
    background-color: #10edea;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #aa00f9, #0099ff, #10edea);
}
#page-title {
    text-align: center;
    color: #0e0381;
}
p {
    text-align: center;
}
.moves {
    text-align: center;
}
footer {
    background-color: #74a3e6;
    padding: 0px;
    text-align: center;
    color: #000000;
    display: flex;
    margin-top: 350px;
}